extends layout

block content
  div( ng-controller="jsonlogicCtrl" )
    div( class="container" )
      div( class="row" )
        div( class="col-xs-5")
          div Comet Code
        div( class="col-xs-5" )
          div jsonlogic
      div( class="row" )
        div( class="col-xs-5 code-editor")
          textarea( ng-model="cometCode" id="comet-code")
        div( class="col-xs-5")
          pre( class="code") {{jsonlogic}}
      div( class="row")
        div( class="col-xs-1 ")
          div( class="btn btn-primary" ng-click="parse()") Parse Comet Code
      hr
      div( class="row")
        div( class="col-xs-5" )
          div Data
          div( class="form-group" )
            div( ng-repeat="input in vars" class="input-group" )
              div( class="input-group-addon" ) {{input.varname}}
              input(class="form-control" type="text" ng-model="model[input.key]" )
            div( ng-repeat="input in priors" class="input-group" )
              div( class="input-group-addon" ) {{input.varname}}
              input(class="form-control" type="text" ng-model="prior[input.key]" )
        div( class="col-xs-5" )
          div Result
          div( class="input-group" )
            div( class="input-group-addon" ) Evalutes To
            input(class="form-control" type="text" ng-model="result" ng-disabled="1")
