doctype html
html( ng-app="jsonlogicApp" )
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script( src="angular/angular.min.js" )
    script( src="pegjs/peg-0.9.0.min.js" )
    script( src="javascripts/jsonlogic-parser.js" )
    script( src="javascripts/app.js" )
  body
    block content
