body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
pre{
  width: 100%;
  height: 400px;
}
.code-editor textarea {
  width: 100%;
  height: 400px;
}
